[submodule "app/src/main/cpp/llama.cpp"]
	path = app/src/main/cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "app/src/main/cpp/stable-diffusion.cpp"]
	path = app/src/main/cpp/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
